{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">

            {{ form_start(contactForm, {'attr': {'class': 'form-horizontal'}}) }}
                <fieldset>
                    <legend>Свържете се с нас</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="isFound">{{ form_label(contactForm.name) }}</label>
                        <div class="col-sm-4">
                            {{ form_widget(contactForm.name) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="isFound">{{ form_label(contactForm.email) }}</label>
                        <div class="col-sm-4">
                            {{ form_widget(contactForm.email) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="isFound">{{ form_label(contactForm.message) }}</label>
                        <div class="col-sm-4">
                            {{ form_widget(contactForm.message) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('home_index') }}">Назад</a>
                            {{ form_widget(contactForm.submit) }}
                        </div>
                    </div>
                </fieldset>
            {{ form_end(contactForm) }}

        </div>
    </div>
{% endblock %}