{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">

            {{ form_start(contactForm, {'attr': {'class': 'form-horizontal'}}) }}
                <fieldset>
                    <legend>Свържете се с нас</legend>

                    <div class="form-group">
                        <div class="col-sm-6">
                            {{ form_row(contactForm.name) }}
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            {{ form_row(contactForm.email) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            {{ form_row(contactForm.message) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('home_index') }}">Назад</a>
                            <button type="submit" class="btn btn-primary">Изпрати</button>
                        </div>
                    </div>
                </fieldset>
            {{ form_end(contactForm) }}

        </div>
    </div>
{% endblock %}