{% extends 'base.html.twig' %}

{% block main %}

    <main class="index">
        <div class="">
            <div class="">
                <section class="article-container">
                    <h1 class="">{{ article.title }}</h1>
                    <img class="img-article" src="../images/{{ article.imageFilename }}" alt="{{ article.title }}">

                    <div class="ad-section-container">
                        <div class="ad-head-container">
                            <p class=""><span class="bold">Статус: </span>{{ article.isFound }}</p>
                        </div>
                        <div class="ad-main-container"><p class="article-content">{{ article.content }}</p></div>
                        <div class="ad-footer-container">
                            <p class=""><span class="bold">Град: </span>{{ article.town }}</p>
                            <p class=""><span class="bold">За връзка: </span>{{ article.author.fullName }}</p>
                            <p class=""><span class="bold">Телефон: </span>{{ article.phone }}</p>
                            <p><span class="bold">Публикувана: </span><span>{{ article.dateAdded|date("d.m.Y") }}</span></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

{% endblock %}