{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            {{ form_start(articleForm, {'action': path('article_create'), 'method': 'POST', 'multipart': true, 'attr': {'class': 'form-horizontal'} }) }}
                <fieldset>
                    <legend>Подай сигнал</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">{{ form_label(articleForm.title) }}</label>
                        <div class="col-sm-4">
                            {{ form_widget(articleForm.title) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_image">{{ form_label(articleForm.imageFile) }}</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(articleForm.imageFile) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="isFound">{{ form_label(articleForm.isFound) }}</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(articleForm.isFound) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_town">{{ form_label(articleForm.town) }}</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(articleForm.town) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_phone">{{ form_label(articleForm.phone) }}</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(articleForm.phone) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">{{ form_label(articleForm.content) }}</label>
                        <div class="col-sm-4">
                            {{ form_widget(articleForm.content) }}
                        </div>
                    </div>

                    {{ form_row(articleForm._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('home_index') }}">Назад</a>
                            {{ form_widget(articleForm.submit) }}
                        </div>
                    </div>
                </fieldset>
                {{ form_end(articleForm) }}
        </div>
    </div>

{% endblock %}