{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            {{ form_start(articleForm, {'method': 'POST', 'attr': {'class': 'form-horizontal'} }) }}
                <fieldset>
                    <legend>Изтрийте вашия сигнал</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">{{ form_label(articleForm.title) }}</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(articleForm.title, { value: article.title, disabled: true }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_image">{{ form_label(articleForm.imageFile) }}</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(articleForm.imageFile, { value: article.imageFilename, disabled: true }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="isFound">{{ form_label(articleForm.isFound) }}</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(articleForm.isFound, { value: article.isFound, disabled: true }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_town">{{ form_label(articleForm.town) }}</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(articleForm.town, { value: article.town, disabled: true }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_phone">{{ form_label(articleForm.phone) }}</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(articleForm.phone, { value: article.phone, disabled: true }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">{{ form_label(articleForm.content) }}</label>
                        <div class="col-sm-4">
                            {{ form_widget(articleForm.content, { value: article.content, disabled: true }) }}
                        </div>
                    </div>

                    {{ form_row(articleForm._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('user_articles') }}">Назад</a>
                            {{ form_widget(articleForm.submit, { label: 'Изтрий', 'attr': {'class': 'btn btn-danger'}}) }}
                        </div>
                    </div>
                </fieldset>
            {{ form_end(artcileForm) }}
        </div>
    </div>

{% endblock %}